name: Docker

permissions:
  contents: read

on:
  push: {}
  pull_request: {}

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build Docker Image
        run: docker build -t proto-gen-go .
